@tailwind base;
@tailwind components;
@tailwind utilities;

/* Local Fonts: Rajdhani */
@font-face {
  font-family: 'Rajdhani';
  src: url('./fonts/Rajdhani-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./fonts/Rajdhani-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./fonts/Rajdhani-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #000000;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
